body {
    margin: 8px;
    display: block;
    background-color: rgba(46, 46, 172, 0.123);
}

h2 {
    margin-left: auto;
    margin-right: auto;
    width: 61.8%
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}

P {
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    width: 61.8%;
    text-align: center;
    text-indent: 22pt;
    clear: right;
}

img {
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
}

.illustration {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

math {
    margin-top: 4px;
    margin-bottom: 4px;
}
